body {
  color:#333;
  background:#fff;
  font-family:Verdana;
}

fieldset {
  border:none;
}

input, select, textarea {
  padding:6px 12px;
}

input, textarea, .CodeMirror {
  background:#eee;
  border:1px solid #ccc;
}

input:hover {
  background:#ddd;
  border:1px solid #bbb;
}

select {
  border:1px solid #ccc;
}

a {
  color:#888;
  text-decoration:none;
  font-size:.8em;
}

a:hover {
  text-decoration:underline;
}

ul#menu {
  list-style: none;
}
  #menu li {
    float: left;
    width: 100px;
  }

ul#menu:after {
  content:'';
  clear:both;
  display:block;
}